{% extends 'accounts/main.html' %}

{% block title %}
User
{% endblock title %}

{% block content %}




<div class="row">
	<div class="col-md">
		<div class="card card-body" style="padding: 40px;">
			<table class="table table-sm table-striped ">
				<tr>
					<th>Student </th>
					
					<th>Date Upload</th>
				
				</tr>

				{% for Stu in Students %}
				<tr>
					
					<td>{{Stu.name}}</td>
					
					<td>{{Stu.date_created}}</td>
				</tr>
				{% endfor %}
				{% for Stu in Students %}
				<a href="{% url 'student' Stu.id %}" class="btn">
				  <div class="item"><img src="{{Stu.stuimg.url}}" alt="" height="300px">
					
				</a>
				{% endfor %}
			</table>
		</div>
	</div>
</div>
<br>

{% endblock content %}